<nav class="navbar is-fixed-top">  <!-- JS can toggle this -->
    <div class="navbar-brand">
        <div class="navbar-item">
            Hello and welcome to Skiffle Party
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a href="#" class="navbar-item">Home</a>
            <a href="#" class="navbar-item">About</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Venues</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                </div>
            </div>
            <a href="#" class="navbar-item">Contact</a>
        </div>
    </div>
</nav>